body {
    background-color: #F6F8FF;
}

#container {
    margin: 5% auto;
    padding: 0px;
    content: center;
}

#form {
    display: inline;
}

.submit {
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px 15px;
}

.clear {
    text-decoration: none;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 3px 15px;
}

table {
    background-color: white;
    overflow: hidden;
    height: 700px;
    width: 600px;
    border: 2px solid black;
    padding: 0px;
    margin: auto;
    display: table;
    border-spacing: 0px;
    position: relative;
}

.colorPink {
    background-color: pink;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.colorBlack {
    background-color: black;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.colorBlue {
    background-color: blue;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.colorGreen {
    background-color: green;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.colorRed {
    background-color: red;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#buttonColors {
    margin-top: -4%;
}